.contato {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
}

@media screen and (min-width: 0) {
    .contato{
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .contato{
        padding-left: 20px;
    }
}

@media screen and (min-width: 1728px) {
    .contato{
        padding-left: 0;
    }
}