.servicosHome {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 0) {
    .swiper {
        width: 100vw;
        /* height: 400px; */
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .swiper-pagination {
        position:initial;
        /* margin: 0.5em 0; */
        margin-top: 1em;
    }
}