.sociais {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-right: 20px;
}

@media screen and (min-width: 1200px) {
    .sociais {
        padding-right: 0;
    }
}