.localizacao__mapa {
    display: flex;
}

.localizacao__mapa--iframe {
    display: flex;
    padding: 55px 185px 50px 185px;
    width: 80%;
    height: 350px;
}

@media screen and (min-width: 0) {
    .localizacao__mapa--iframe {
        padding: 20px 0 50px 0;
        width: 100%;
        border: none;
    }
}