.banner__titulo {
    color: #ffffff;
    font-family: Cinzel, serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 20px;
    text-align: center;
}

.banner__titulo--line {
    display: flex;
    margin: 5px auto;
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 20px;
        padding-top: 30px;
    }

    .banner__titulo--line {
        margin: 10px auto;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 28px;
    } 
}