.sobre__imagem {
    filter: brightness(70%);
}

@media screen and (min-width: 0) {
    .sobre__imagem {
        width: 100vw;
    }
}

@media screen and (min-width: 768px) {
    .sobre__imagem {
        width: 70vw;
    }
}