.servicosHome__imagem {
    display: flex;
    filter: brightness(75%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px auto;
    transition: height 1s, width 1s;
}

.servicosHome__imagem--cortes {
    background-image: url('../../img/cortes.jpg');
}

.servicosHome__imagem--coloracao {
    background-image: url('../../img/coloracao.jpg');
}

.servicosHome__imagem--penteados {
    background-image: url('../../img/penteados.jpg');
}

@media screen and (min-width: 0) {
    .servicosHome__imagem {
        height: 364px;
        margin-top: 30px;
        margin-bottom: 0;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .servicosHome__imagem {
        height: 250px;
        width: 230px;
    }

    .servicosHome__imagem:hover {
        filter: brightness(55%);
        height: 270px;
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    .servicosHome__imagem {
        height: 320px;
        width: 300px;
    }

    .servicosHome__imagem:hover {
        filter: brightness(55%);
        height: 350px;
        width: 330px;
    }
}

@media screen and (min-width: 1200px) {
    .servicosHome__imagem {
        height: 400px;
        width: 380px;
    }

    .servicosHome__imagem:hover {
        filter: brightness(55%);
        height: 420px;
        width: 400px;
    }
}
