.contatos__sociais {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width: 0) {
    .contatos__sociais {
        background-color: #ffffff;
        border-radius: 25px;
        margin: 20px auto;
        padding: 30px 0;
        width: 96%;
    }

    .contatos__sociais--icones {
        padding: 20px 40% 0 40%;
    }

    .contatos__sociais--imagens {
        width: 30px;
        height: 30px;
        padding-top: 0;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1728px) {
    .contatos__sociais {

        padding-left: 12rem;
        padding-top: 6rem;
        padding-bottom: 5rem;
        width: 55%;
    }
    
    .contatos__sociais--icones {
        padding-top: 1.1rem;
    }
    
    .contatos__sociais--imagens {
        width: 40px;
        height: 40px;
        padding-top: 10px;
        margin-right: 10px;
    }
}