.servicos__linha02--descricao {
    color: #ffffff;
    font-family: Cinzel, serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0 4px 4px #000000;
    margin-top: -0.3rem;
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

}